/* ------------------------------------------------------------------------- */
/* Textview */
/* ------------------------------------------------------------------------- */

#draftview {
    background: #F4F4F4;
}
#draftview:focus {
    background: #FFF;
}
/*#draftview:selected { background: #9AB87C; }*/
#draftview:selected { background: @theme_selected_bg_color; }

/* ------------------------------------------------------------------------- */
/* Generic elements */
/* ------------------------------------------------------------------------- */

/*
.button { border: 1px solid #888; }
.button { background: transparent; }
*/

/*
GtkEntry {
    background: #FFF;
}
*/

.button {
    padding-top:    2px;
    padding-bottom: 2px;
    padding-left:   6px;
    padding-right:  6px;
    /*border-width: 2px;*/
}

.button:focus {
    /*background: @theme_bg_color;*/
    /*border: 2px solid @border;*/
}

/* ------------------------------------------------------------------------- */
/* Main notebook */
/* ------------------------------------------------------------------------- */

#DocBook.frame      { border: 0px solid; }
#DocBook.header.top { border-bottom: 1px solid @border; }
#DocBook tab        { border-bottom: 1px solid @border; }
#DocBook tab:active { border-bottom: 0px; }

/* Round buttons for tab close */
#round-btn       { border: 1px solid transparent; border-radius: 50%; padding: 1pt; }
#round-btn:hover { border: 1px solid @border; background: @theme_bg_color; }

/* Labels in tabs */
#tablabel {
    padding-left: 6px;
    padding-right: 0px;
}

/* ------------------------------------------------------------------------- */
/* Document page */
/* ------------------------------------------------------------------------- */

.DocPage {
    padding: 0px;
    border: 0px solid;
    /* border-top: 1px dashed rgba(0,0,0,0.10); */
    padding-top: 1px;
}

#embeddeddialog {
    border: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 1px;
}
